echo node_modules/>> .gitignore
echo .env>> .gitignore
echo .env.*>> .gitignore
echo frontend/.env*>> .gitignore
echo backend/.env*>> .gitignore
echo dist/>> .gitignore
echo build/>> .gitignore
echo backend/uploads/>> .gitignore
